<div class="btn-group show">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{selectedEnvironment}}
  </button>
  <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);">
    <a (click)="changeEnvironment(env)" class="dropdown-item" href="#" *ngFor="let env of environments | healthCheckEnvPipe:selectedEnvironment">{{env}}</a>
  </div>
</div>